/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(128, 128, 128, 0.822);
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header nav ul {
    
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    list-style: none;
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo principal */
main {
    padding: 50px;
    text-align: center;
}

.lookbook h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

/* Galeria de looks */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.item img:hover {
    transform: scale(1.05);
}

.description {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.description h3 {
    font-size: 1.5rem;
}

.description p {
    font-size: 1rem;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

